  <div data-role="none" class="flight-content" id="myflight">
     <div id="wrapper">
     		<ul class="personinfo">
     		    <li class="personinfo-li"><div class="personinfo-half-round"></div><div class="boardingpass-first-cell">姓名</div><div style="display:inline-block;"><input style="font-family: 黑体;" type="text" data-role="none" placeholder='请输入姓名 ' id=''/></div></li>
     			<li class="personinfo-li-last">
     			<div style="width:25%;display:inline-block;float:left;">
     			<select data-role="none" class="selectstyle">
  					<option value ="volvo">身份证</option>
  					<option value ="saab">护照</option>
  					<option value="opel">其他</option>
				</select>
				</div>
				<div style="display:inline-block;"> <input style="font-family: 黑体;" type="text" data-role="none" placeholder='请输入证件号' id=''/></div></li>   			
     		</ul>
     		 
     </div>
     <div class="personinfo-button" id="do">确定</div>
     <div class="authentication-notice">
	    <div class="authentication-title">身份认证，尽享便利</div>
	    <div class="authentication-content"><div class="all-icon checkboxed-icon display-icon"></div>更及时获得个人行程提醒</div>
	    <div class="authentication-content"><div class="all-icon checkboxed-icon display-icon"></div>更方便贴心的航班服务</div>
     </div>
  </div>
  
  
  <div data-role="navbar" class="footer authentication">
    <div>隐私保护，信息安全 </div>
    <div class="authentication-com">中国航信安全系统保护您的信息安全</div>
  </div>