<div class="page">
	<div class="page-content-cersonalityBackground" id = "Picture_frame">
		<%=getImgTab()%>
	</div>
	<!-- -----------------------------自定义背景结束----------------------------- -->
	<div class="personal_sex_div_01">
		<span style="padding-top: 2px;">性别</span>
	</div>
	<div class="personal_sex_div_02">
		<ul class="personal_sex_list_box">
			<li class="list_btn_01" id = "list_btn_01">男</li>
			<li class="list_btn_02" id = "list_btn_02">女</li>
		</ul>
	</div>
	<div id="personalUpdateSex" class="personal_sex_buttonDiv_01">
		<span>确</span><span class="personal_birthday_span_01">定</span>
	</div>
</div>